<div class="container">
    <!--Encabezado de la app-->
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4 centrado">
            <h2>Equipo <b>{{nombre_equipo}}</b></h2>
            <p>Gestiona a los jugadores del equipo.</p>
        </div>
        <div class="col-md-4"></div>
    </div>
     <!-- Disparador modal agregar jugador -->
    <div class="row">
      <div style="text-align: right">
          <button type="button" class="btn btn-success" data-mdb-toggle="modal" data-mdb-target="#modalRegistro"> 
              <i class="fas fa-user-plus"></i> Agregar </button>
      </div>
    </div>
    <hr>
    <!--Tabla con los equipos-->
    <div class="row">
        <div class="table-responsive">
            <table class="table table-hover table-bordered order-table bg-light">
                <thead class="table-active table-dark">
                    <tr>
                        <th style="font-weight: bold;">ID Jugador</th>
                        <th style="font-weight: bold;">Nombre</th>
                        <th style="font-weight: bold;">Edad</th>
                        <th style="font-weight: bold;">Dorsal</th>
                        <th style="font-weight: bold;">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of jugadores"
                        style="color: black;text-align: justify;">
                        <td>{{item.id}}</td>
                        <td>{{item.nombre}}</td>
                        <td>{{item.edad}}</td>
                        <td>{{item.dorsal}}</td>
                        <td style="text-align: center;">
                            <div class="row centrado">
                                <div class="col-md-6" title="Agregar Jugador">
                                    <button class="btn btn-info btn-md" style="font-size:small;" data-mdb-toggle="modal" data-mdb-target="#modalEditar"
                                    (click)="datosEditar(item)"><i class="fas fa-user-edit"></i></button>
                                </div>
                                <div class="col-md-6" title="Eliminar Jugador">
                                    <button class="btn btn-danger btn-md" style="font-size:small;" (click)="eliminarJugador(item)"><i class="fas fa-user-minus"></i></button>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Modal Registro -->
<div class="modal fade" id="modalRegistro" tabindex="-1" aria-labelledby="labelModalRegistro" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="labelModalRegistro">Registrar Jugador</h5>
          <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="container">
            <!--Nombre-->
            <div class="row">
              <div class="input-group mb-3">
                <span class="input-group-text bg-light" id="nombre_addon"><i class="fas fa-user"></i></span>
                <input type="text" class="form-control" placeholder="Nombre Completo" aria-label="control"
                  aria-describedby="nombre_addon" [(ngModel)]="jugadorRegistro.nombre" name="nombre" required/>
              </div>
            </div>

            <!--Edad-->
            <div class="row">
                <div class="input-group mb-3">
                  <span class="input-group-text bg-light" id="nombre_addon"><i class="fas fa-user"></i></span>
                  <input type="number" class="form-control" placeholder="Edad" aria-label="control"
                    aria-describedby="nombre_addon" [(ngModel)]="jugadorRegistro.edad" name="edad" required/>
                </div>
            </div>

            <!--Dorsal-->
            <div class="row">
                <div class="input-group mb-3">
                  <span class="input-group-text bg-light" id="nombre_addon"><i class="fas fa-user"></i></span>
                  <input type="number" class="form-control" placeholder="Dorsal" aria-label="control"
                    aria-describedby="nombre_addon" [(ngModel)]="jugadorRegistro.dorsal" name="dorsal" required/>
                </div>
            </div>

          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger"  (click)="limpiar()" data-mdb-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-primary" (click)="guardarJugador()">Registrar</button>
          
        </div>
      </div>
    </div>
  </div>
  <!--Fin modal Registro-->

  <!-- Modal Editar -->
<div class="modal fade" id="modalEditar" tabindex="-1" aria-labelledby="labelModalEditar" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="labelModalEditar">Editar Jugador</h5>
        <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container">
          <!--Nombre-->
          <div class="row">
            <div class="input-group mb-3">
              <span class="input-group-text bg-light" id="nombre_addon"><i class="fas fa-user"></i></span>
              <input type="text" class="form-control" placeholder="Nombre Completo" aria-label="control"
                aria-describedby="nombre_addon" [(ngModel)]="jugadorEditar.nombre" name="nombreEditar" required/>
            </div>
          </div>

          <!--Edad-->
          <div class="row">
              <div class="input-group mb-3">
                <span class="input-group-text bg-light" id="nombre_addon"><i class="fas fa-user"></i></span>
                <input type="number" class="form-control" placeholder="Edad" aria-label="control"
                  aria-describedby="nombre_addon" [(ngModel)]="jugadorEditar.edad" name="edadEditar" required/>
              </div>
          </div>

          <!--Dorsal-->
          <div class="row">
              <div class="input-group mb-3">
                <span class="input-group-text bg-light" id="nombre_addon"><i class="fas fa-user"></i></span>
                <input type="number" class="form-control" placeholder="Dorsal" aria-label="control"
                  aria-describedby="nombre_addon" [(ngModel)]="jugadorEditar.dorsal" name="dorsalEditar" required/>
              </div>
          </div>

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger"  (click)="limpiarEditar()" data-mdb-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" (click)="actualizarJugador()">Registrar</button>
        
      </div>
    </div>
  </div>
</div>
<!--Fin modal Editar-->