<div class="container">
    <!--Encabezado de la app-->
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4 centrado">
            <h2>Inicio</h2>
            <p>Selecciona un equipo para su gestión.</p>
        </div>
        <div class="col-md-4"></div>
    </div>
     <!-- Disparador modal agregar equipo -->
     <div class="row">
        <div style="text-align: right">
            <button type="button" class="btn btn-success" data-mdb-toggle="modal" data-mdb-target="#modalRegistro"> 
                <i class="fas fa-plus-square"></i> Agregar </button>
        </div>
     </div>
    <hr>
    <!--Tabla con los equipos-->
    <div class="row">
        <div class="table-responsive">
            <table class="table table-hover table-bordered order-table bg-light">
                <thead class="table-active table-dark">
                    <tr>
                        <th style="font-weight: bold;">No. del Equipo</th>
                        <th style="font-weight: bold;">Nombre del Equipo</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of equipos"
                        style="color: black;text-align: justify;">
                        <td class="cursor" (click)="irEquipo(item)">{{item.id}} </td>
                        <td class="cursor" (click)="irEquipo(item)">{{item.nombre}}</td>
                       
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Modal Registro -->
<div class="modal fade" id="modalRegistro" tabindex="-1" aria-labelledby="labelModalRegistro" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="labelModalRegistro">Registrar Equipo</h5>
          <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="container">
            <!--Nombre-->
            <div class="row">
              <div class="input-group mb-3">
                <span class="input-group-text bg-light" id="nombre_addon"><i class="fas fa-book"></i></span>
                <input type="text" class="form-control" placeholder="Nombre Completo" aria-label="control"
                  aria-describedby="nombre_addon" [(ngModel)]="equipoRegistro.nombre" name="nombre" required/>
              </div>
            </div>

          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger"  (click)="limpiar()" data-mdb-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-primary" (click)="guardarEquipo()">Guardar</button>
          
        </div>
      </div>
    </div>
  </div>
  <!--Fin modal Registro-->
